.user_new_content
  %h2 新規会員登録
  -#ローカルにてAPI使用↓
  -# .omniauth
  -#   .omniauth__facebook
  -#     = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
  -#   .omniauth__google
  -#     = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post
  .new-user
    .content-inner
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        %span.must 必須
        .box-last_name
          = f.label :last_name, "姓 (全角)"
          %br/
          = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
        .box-first_name
          = f.label :first_name, "名 (全角)"
          %br/
          = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
        .box-last_name_kana
          = f.label :last_name_kana, "姓 (ふりがな・全角)"
          %br/
          = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"
        .box-first_name_kana
          = f.label :first_name_kana, "名 (ふりがな・全角)"
          %br/
          = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
        .box-nickname
          = f.label :nickname, "ニックネーム"
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .box-email
          = f.label :email, "メールアドレス (xxxxxx@xxxxxxx.jp)"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .box-password
          - if @sns_id.present?
            = hidden_field_tag :sns_auth, true
          - else
            = f.label :password, "パスワード (7文字以上)"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password"
        .box-password_confirmation
          - if @sns_id.present?
            = hidden_field_tag :sns_auth, true
          - else
            = f.label :password_confirmation, "パスワード (確認用)"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
        .box-birthday
          = f.label :birthday, "生年月日 (例：19950511)"
          %br/
          = f.text_field :birthday, autocomplete: "birthday"
        .box-image
          = f.label :image, "アイコン画像"
          %br/
          = f.file_field :image, id:"user_image_icon",class:"image_icon"
          %label{for: "user_image_icon",id:"user_image_icon_label"}
            .box-image__icon


        .actions
          = f.submit "新規会員登録"
          = render "devise/shared/links"


