.new_content
  .credit_header
    = render "items/header"
  .credit_main
    .contents
      .inner
        = form_with model: @credit_card, url:user_credit_cards_path, id: 'charge-form',local: true do |f|
          .inner_field
            -# = label_tag :credit_card_type, "CARD TYPE"
            -# %br
            -# = text_field_tag :credit_card_type, '', class: 'inner_field_input '
          .inner_field
            = f.label :card_number, "CARD NUMBER"
            %br
            = text_field_tag :card_number, '', class: 'inner_field_input'
          .inner_field
            = f.label :cvv, "CVV"
            %br
            = text_field_tag :cvv, '', class: 'cvv', placeholder: "カード背面3~4桁の番号"
          .inner_field
            = f.label:exp_date, "EXPIRATION DATE"
            %br
            = select_tag :exp_month , options_for_select([1, 2, 3, 4, 5,6,7,8,9,10,11,12]), class: 'inner_field_select'
            %span 月
            = select_tag :exp_year, options_for_select([[20,2020], [21,2021], [22,2022], [23,2023], [24,2024], [25,2025], [26,2026]]), class: 'inner_field_select'
            %span 年
          .inner_btn{ id: 'token' }
            = f.submit "登録する", class: 'inner_btn_tag'
            .token#card_token 
              %input.token{ type: "hidden", name: "payjpToken", value: "" }
  .credit_footer
    =render "items/footer"
   
  