.like-new-content
  = render "items/header"
  %h1
    お気に入り一覧
  - if @likes.present?
    - @likes.each do |like|
      .like-box
        = link_to item_path(like.item.id) do
          .like-box-content
            .item-image
              = image_tag like.item.images.first.src.url
            .item-body
              .item-name
                = like.item.item_name
              .item-price
                = "￥#{like.item.price}"
  - else 
    %h1
      お気に入りに追加した商品はありません
  = render "items/cameraicon"
  =render "items/footer"