.show_content
  .show_header
    = render "items/header"
  .main
    .main_content
      .user
        .user__icon
          %img{:src => @user.image, width: "100", height: '100'}
        .user__nickname
          = @user.nickname
      .credit
        - if @user.credit_card.blank?
          .new
            = link_to "クレジットカード新規画面", new_user_credit_card_path(:user_id), class: "credit_link"
        - else
          .edit
            = link_to "クレジットカード確認画面", user_credit_card_path(:user_id,:credit_card_id),class: "credit_link"
        -if @adress.blank?
          = link_to "新規住所登録" , new_user_adress_path(current_user), class: "adress_link"
        -else
          = link_to "住所変更" , edit_user_adress_path(@adress), class: "adress_link"
      .product
        .product_header
          購入した商品

        .product_items
          %input#selling.tab_radio{checked: "checked", name: "tab_item", type: "radio"}/
          %label.tab_item{ for: "selling"} 取引中
          %input#bought.tab_radio{name: "tab_item", type: "radio"}/
          %label.tab_item{ for: "bought"} 購入した商品

          #selling_content.tab_content
            .tab_content_description
              %p.c-txtsp 取引
              %p.c-txtsp 取引
              %p.c-txtsp 取引
          #bought_content.tab_content
            .tab_content_description
              %p.c-txtsp 購入した商品
              %p.c-txtsp 購入した商品
              %p.c-txtsp 購入した商品
              %p.c-txtsp 購入した商品

  .show_sell_icon
    = render "items/cameraicon"
  .show_footer
    =render "items/footer"