.new-box
  .box-inner
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %span.must 必須
      %h2 ログイン
      .box-email
        = f.label :email, "メールアドレス (xxxxxx@xxxxxxx.jp)"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .box-password
        = f.label :password, "パスワード (7文字以上)"
        %br/
        = f.password_field :password, autocomplete: "current-password"
      .box-login
        = f.submit "ログイン"
      = render "devise/shared/links"
      - if devise_mapping.rememberable?
        .remember
          = f.check_box :remember_me
          = f.label :remember, "ログインしたままにする"