= form_for [@item] do |f|
  .sell__image
    .content
      .menu
        .menu-name
          %p出品画像
        .required
          %p必須
      -if @item.errors.messages[:images].any?
        .error-message
          %p必ず入力してください
      .sell__image__area
        #previews
          #image-box
            = f.fields_for :images do |i|
              .js-file_group{"data-index" => "#{i.index}"}
                = i.file_field :src, class: 'js-file',id:"item_images_attributes_#{i.index}_src"
              - if @item.persisted?
                = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                .index{"data-index" => "#{i}"}
                .previews
                  %label{for: "item_images_attributes_#{i}_src"}
                    = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                  .js-remove 削除
            
            - if @item.persisted?
              .js-file_group{"data-index" => "#{@item.images.count}"}
                = file_field_tag :src, id: "item_images_attributes_#{@item.images.count}_src", class: 'js-file'

        - unless @item.persisted?
          %label{for: "item_images_attributes_0_src",id:"label_image"}
            .click_erea
              .click_erea__content
                %pクリックして画像を選択してください
        - if @item.persisted?
          %label{for: "item_images_attributes_#{@item.images.count}_src",id:"label_image"}
            .click_erea
              .click_erea__content
                %pクリックして画像を選択してください
  .sell__name
    .content
      .name-content
        .menu
          .menu-name
            %p商品名
          .required
            %p必須
        -if @item.errors.messages[:item_name].any?
          .error-message
            %p必ず入力してください
        = f.text_field :item_name, type:"text"
      .detail-content
        .menu
          .menu-name
            %p商品の説明
          .required
            %p必須
        -if @item.errors.messages[:detail].any?
          .error-message
            %p必ず入力してください
        = f.text_field :detail, type:"text"
  .sell__about
    .content
      %p商品の詳細
      .about-content
        .about-content__box
          .menu
            .menu-name
              %pカテゴリ
            .required
              %p必須
          -if @item.errors.messages[:category_id].any?
            .error-message
              %p必ず入力してください
        .category__choose
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name,{prompt: "選択してください"}, {id: 'parent_category'}
        .about-content__box
          .menu
            .menu-name
              %pブランド
            .any
              %p任意
          = f.text_field :brand_id, type:"text"
        .about-content__box
          .menu
            .menu-name
              %p商品の状態
            .required
              %p必須
          -if @item.errors.messages[:condition].any?
            .error-message
              %p必ず選択してください
          = f.select :condition, Item.conditions.keys, {include_blank: '選択してください'}
  .sell__price
    .content
      %p価格について
      .price-content__box
        .menu
          .menu-name
            %p販売価格
          .required
            %p必須
        .price
          .price__yen
            %p¥
          .price__box
            -if @item.errors.messages[:price].any?
              .error-message
                %p必ず入力してください
            = f.text_field :price, type:"integer"
  .sell__delivery
    .content
      %p配送について
      .delivery-content
        .delivery-content__box
          .menu
            .menu-name
              %p配送料
            .required
              %p必須
          -if @item.errors.messages[:delivery_fee].any?
            .error-message
              %p必ず選択してください
          = f.select :delivery_fee,['送料込み(出品者負担)', '着払い(購入者負担)'],{include_blank: '選択してください'}
        .delivery-content__box
          .menu
            .menu-name
              %p発送元地域
            .required
              %p必須
          -if @item.errors.messages[:shipping_area].any?
            .error-message
              %p必ず選択してください
          = f.select :shipping_area, Item.shipping_areas.keys, {include_blank: '選択してください'}
        .delivery-content__box
          .menu
            .menu-name
              %p発送までの日数
            .required
              %p必須
          -if @item.errors.messages[:delivery_time].any?
            .error-message
              %p必ず選択してください
          = f.select :delivery_time,['1~2日で発送', '2~3日で発送','4~7日で発送'],{include_blank: '選択してください'}
  .sell__submit
    .content
      - if @item.persisted?
        = f.submit '変更する',class: "submit-btn"
      - else
        = f.submit '出品する',class: "submit-btn"