.header
  .box
    .box__center
      .icon
        = link_to root_path do
          = image_tag ("/images/logo/logo.png")
      .form
        %form.search
          .search__input-box
            %input{type: "text", class: "search__input-box__text", placeholder: "キーワードから探す"}
          %botton{type: "submit", class: "search__submit"}
            = image_tag ("/images/icon/icon-search 1.png")
    .box__under
      .categorywindow
        %ul.title
          %li.title__list
            = link_to "/categories/", class: "category__search search__btn" do
              カテゴリー
            %ul.category__parent.category__list
              - @category_parent_array.each do |parent|
                = link_to "#", class: "category__parent__name" do
                  = parent.name
                %li
                  %ul.category__child.category__list
                    - parent.children.each do |child|
                      %li
                        = link_to "#", class: "category__child__name" do
                          = child.name
                        %ul.category__grandchild.category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to "#", class: " category__child-__name" do
                                = grandchild.name
      .brend-list
        %ul.brend-pulldown
      
      %ul.right-menu
        - if user_signed_in?
          %li.right-menu__login
            = link_to logout_user_path(current_user) do
              ログアウト
        - else
          %li.right-menu__login
            = link_to new_user_session_path do
              ログイン
          %li.right-menu__new
            = link_to new_user_registration_path do
              新規会員登録

-# %ul.category__list
-#               - @category_parent_array.each do |parent|
-#                 %li
-#                   = link_to "#{parent.name}", category_path(parent), class: "category__parent__name" do
-#                     -# = parent.name
-#                   %ul.category__child.category__list
-#                     - parent.children.each do |child|
-#                       %li
-#                         = link_to "#", class: "category__child__name" do
-#                           = child.name
-#                         %ul.category__grandchild.category__list
-#                           - child.children.each do |grandchild|
-#                             %li
-#                               = link_to "#", class: " category__child-__name" do
-#                                 = grandchild.name
-#       .brend-list
-#         %ul.brend-pulldown
          