.index-content
  = render "header"
  -# .header
  -#   .box
  -#     .box__center
  -#       .icon
  -#         %a{:href => "/"} 
  -#           = image_tag ("/images/logo/logo.png")
  -#       .form
  -#         %form.search
  -#           .search__input-box
  -#             %input{type: "text", class: "search__input-box__text", placeholder: "キーワードから探す"}
  -#           %botton{type: "submit", class: "search__submit"}
  -#             = image_tag ("/images/icon/icon-search 1.png")
  -#     .box__under
  -#       %ul.left-item
  -#         %li.left-item__main
  -#           %a{:href => "/"} 商品一覧
  -#           -# .tree
  -#           -#   %ul.category-tree
  -#           -#     %li.category-tree
  -#           -#       %a レディース
  -#         -# %li.left-item__brend
  -#         -#   %a ブランド
  -#           .brend-list
  -#             %ul.brend-pulldown
  -#       %ul.right-menu
  -#         %li.right-menu__login
  -#           %a{:href => "/"} ログイン
  -#         %li.right-menu__new
  -#           %a{:href => "/"}  新規会員登録

  .main
    .mein-title
      .content
        %h2.content__title
          人生を変えるフリマアプリ
        %p.content__text
          FURIMAは誰でもかんたんに出品・購入できる
          %br
            フリマアプリです
        -# .content__app
        -#   %a{:href => "/"} 
        -#     = image_tag ("/images/icon/icon-search 1.png")
        -#   %a{:href => "/"} 
        -#     = image_tag ("/images/icon/icon-search 1.png")
    .top-list
      %h2.list-title
        FURIMAが選ばれる3つの理由
      %ul.choose
        %li.choose__list
          .choose__list__pic
            %span.number
              1
            = image_tag ("/images/pict/pict-reason-01.jpg")
          %h3.list__text
            %span 
              3分
            ですぐに出品
          %p.list__detail
            スマホで入力するだけで簡単に出品できる!
        %li.choose__list
          .choose__list__pic
            %span.number
              2
            = image_tag ("/images/pict/pict-reason-02.jpg")
          %h3.list__text
            %span
              シンプル
            で使いやすい
          %p.list__detail
            めんどくさい入力は必要なく、検索もスムーズ!
        %li.choose__list
          .choose__list__pic
            %span.number
              3
            = image_tag ("/images/pict/pict-reason-03.jpg")
          %h3.list__text
            手数料
            %span
              業界最安
          %p.list__detail
            最大3%でお得に出品＆購入!
    .top-share
      .content
        %h2.content__title
          会員数日本一
        %p.content__text
          FURIMAは、フリマアプリで最も人気。
          %br
            出品•購入回数も業界最多です!
            %br
              ほしかったあの商品に出会えるかもしれません。
        -# .content__app
        -#   %a{:href => "/"} 
        -#     = image_tag ("/images/icon/icon-search 1.png")
        -#   %a{:href => "/"} 
        -#     = image_tag ("/images/icon/icon-search 1.png")
    .characteristic
      %h2.list-title
        FURIMAの特徴
      .items
        .item
          %figure.item__pic
            = image_tag ("/images/icon/icon-01.png")
          %h3.list__text
            簡単に売り買いできる
          %p.list__detail
            スマホ一つで、いつでもどこでも簡単に出品・購入が可能!
        .item
          %figure.item__pic
            = image_tag ("/images/icon/icon-03.png")
          %h3.list__text
            売上金は即日振り込みに対応
          %p.list__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .item
          %figure.item__pic
            = image_tag ("/images/icon/icon-04.png")
          %h3.list__text
            様々な支払いに対応
          %p.list__detail
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .picup-top
      %h2.list-title
        ピックアップカテゴリー
      .new-item
        .item-head
          %a{:href => "/"}
            .h3.list-test
              新規投稿商品
        .item-lists
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
    .picup-under
      %h2.list-title
        ピックアップブランド
      .new-item
        .item-head
          %a{:href => "/"}
            .h3.list-test
              アーカイバ
        .item-lists
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
          .item-list
            %a{:href => "/"}
              %figure.item-list__img
                = image_tag ("/images/icon/member_photo_noimage_thumb.png")
              .item-list__body
                %h3.item-list__name
                  smile
                .itemu-list__data
                  %ul
                    %li
                      0円
                    %i.lile-icon
                      ★ 0
                  %p
                    （税込）
  .app
    .content
      %h2.content__title
        だれでもかんたん、人生を変えるフリマアプリ
      %p.content__text
        今すぐ無料ダウンロード！
      -# .content__app
      -#   %a{:href => "/"} 
      -#     = image_tag ("/images/icon/icon-search 1.png")
      -#   %a{:href => "/"} 
      -#     = image_tag ("/images/icon/icon-search 1.png")
  = render "footer"
  -# .footer
  -#   %ul.contens
  -#     %li.content
  -#       %h2.content__title
  -#         FURIMAについて
  -#       %ul
  -#         %li
  -#           %a{:href => "/"} 会社概要（運営会社）
  -#         %li
  -#           %a{:href => "/"} プライバシーポリシー
  -#         %li
  -#           %a{:href => "/"} FURIMA利用規約
  -#         %li
  -#           %a{:href => "/"} ポイントに関する特約
  -#     %li.content
  -#       %h2.content__title
  -#         FURIMAを見る
  -#       %ul
  -#         %li
  -#           %a{:href => "/"} カテゴリー一覧
  -#         %li
  -#           %a{:href => "/"} ブランド一覧
  -#     %li.content
  -#       %h2.content__title
  -#         ヘルプ＆ガイド
  -#       %ul
  -#         %li
  -#           %a{:href => "/"} FURIMAガイド
  -#         %li
  -#           %a{:href => "/"} FURIMAロゴ利用ガイドライン
  -#         %li
  -#           %a{:href => "/"} お知らせ
  -#   .footer-logo
  -#     %a{:href => "/"} 
  -#       = image_tag ("/images/logo/logo-white.png")
  -#   %p © FURIMA
  = render "cameraicon"
  -# %a{:href => "/"}
  -#   .exhibition-btn
  -#     %span.exhibition-btn__text 出品する
  -#     = image_tag ("/images/icon/icon_camera.png"), class: "exhibition-btn__icon"
