.purchase-content 
  .header
    = render "header"
  .main-box
    .center
      .title
        %p 購入内容の確認
      .item
        .item__i-container
          .item__i-container__product
            = image_tag @item.images.first.src.url
          .item__i-container__i_price
            %p.item-name 
              = @item.item_name
            %p.item-price 
              - priceoftem = @item.price * 1.1
              = "¥#{priceoftem.floor}"
      .price
        .p-container
          .p-container__payment 支払い金額
          .p-container__p-price 
          - priceoftem = @item.price 
          = "¥#{priceoftem.floor}"
      .credit
        .credit__c-container
          .credit__c-container__how
            .how-to 支払い方法
            .c-right
              =link_to user_credit_card_path(:user_id,:credit_card_id) ,class:"change-credit" do
                変更する
          .credit__c-container__c-detail   
            .card
              クレジットカード
            .card_number
              = "**** **** **** " + @customer_card.last4
            .card_xep
              - exp_month = @customer_card.exp_month.to_s
              - exp_year = @customer_card.exp_year.to_s.slice(2,3)
              = exp_month + "/" + exp_year
      .adress
        .adress__a-container
          .adress__a-container__shipping
            .s-adress 配送先
            .a-right
              - if @adress.present?
                =link_to edit_user_adress_path(current_user,@adress),class:"change-adress" do
                  変更する
              - else
                =link_to new_user_adress_path(current_user),class:"change-adress" do
                  登録する
          .adress__a-container__a-ditail
            - if @adress.present?
              %p
                = @adress.zip_code
              %p
                = @adress.prefecture + " " + @adress.city
              %p
                = @adress.building + " " + @adress.house_number
      .purchase
        .purchase__p-container
          .p-btn
            = link_to pay_item_path(@item), method: :post, class:"purchase-btn" do
              購入する
  = render "footer"
