.item_show_content
  = render "header"
  .main-box
    .item
      .item__name
        %p
          = @item.item_name
        %li.fas.fa-star
          = @likes_count
      .item__image
        = image_tag @item.images.first.src.url
      .item__mini
        - @item.images[1..-1].each do |image|
          .item__mini__image
            = image_tag image.src.url
    .price
      .price__value
        - priceoftem = @item.price * 1.1
        = "¥#{priceoftem.floor}"

      .price__fee
        %p
          (税込) 送料込み
    .detail
      .detail__sentences
        %p
          = @item.detail
      .detail__content
        .user
          .user__box
            %p出品者
          .user__name
            %p
              = @item.user.nickname
        .category
          .category__box
            %pカテゴリ
          .category__name
            %p
              = @item.category.parent.parent.name
              %p
                = @item.category.parent.name
                %p
                  = @item.category.name
        .brand
          .brand__box
            %pブランド
          .brand__name
            %p
              = @item.brand_id
        .condition
          .condition__box
            %p商品状況
          .condition__name
            %p
              = @item.condition
        .delivery_fee
          .delivery_fee__box
            %p配送料の負担
          .delivery_fee__name
            %p
              = @item.delivery_fee
        .shipping_area
          .shipping_area__box
            %p発送元の地域
          .shipping_area__name
            %p
              = @item.shipping_area
        .delivery_time
          .delivery_time__box
            %p発送日の目安
          .delivery_time__name
            %p
              = " #{@item.delivery_time}日で発送予定"
    .chenge_item
      - if user_signed_in? && @item.user_id == current_user.id
        .edit.btn
          = link_to "商品の編集する", "#", class: "btn_text"
        .destroy.btn
          = link_to "商品の削除をする", "#", class: "btn_text"
      -else
        .buy.btn
          = link_to "購入画面に進む", "#", class: "btn_text"

          %ul#likeBtn
            = render partial: 'likes/like', locals: { item: @item}

  .item_comment
    .comment
      -if @comments
        - @comments.each do |comment|
          .comment__box
            .comment__box__user
              = comment.user.nickname
            - if comment.user_id == current_user.id
              .comment__box__delete
                = link_to  "    削除    ", item_comment_path(comment), method: :delete,class:"delete-btn"
            .comment__box__text
              .comment__box__text__content
                = comment.text
              .comment__box__text__time
                = comment.created_at.strftime("%Y年%m月%d日")
      .comment__precautions
        %p
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .comment__erea
        = form_with(model: [@item, @comment], local: true, id: "new_comment") do |form|
          .comment__erea__submit
            = form.text_area :text, rows: "2", class: "textbox"
            = form.submit "コメントする", class: "form__submit"
  .under
    .more
      %p
        ="#{@item.user.nickname}さんのその他の商品"
    .recommended
      - @user_items.each do |item|
        -if (item != @item)
          .recommended__items
            = link_to item_path(item) do
              .recommended__items__image
                = image_tag item.images.first.src.url
            .recommended__items__price
              %p
              = item.item_name
              .recommended__items__price__box
                %p
                  - item = item.price * 1.1
                  = "¥#{item.floor}"
                .recommended__items__price__box__fee
                  %p

                    (税込)            



  = render "footer"
  = render "cameraicon"


